body{
    background-color: black;
}

#main{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height:normal;
}
#main-title{
    margin: 1px;
    padding: 0%;
    font-size: 150px;
    color:azure;
}
#main-desc{
    margin: 1px;
    padding: 0%;
    font-size: 65px;
    color:azure; 
}