<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Send and Receive Data</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
    <div class="titulo">
        <h1>CALCULO RETENCION ISR</h1>
        
    </div>
    <div class="descrip">
        <p>Ingresa en el cuadro el monto total de la factura, presiona el boton y se te devolverá el valor de la retencion a realizar</p>
    </div>
   <!--<div class="areatext">
        <textarea></textarea>
    </div>
    <div class="container">
        <button>Click Me</button>
    </div>-->
    <div class="data">
        <form action="/obtener" method="post">
            <label>Monto:</label>
            <input type="text" class="monto" name="mont" required>
            <button type="submit">Submit</button>
        </form>
    </div>   
    <div id="response" class="response">
        <h1>RESULTADO: {{session['resultado']}}</h1>
    </div>


</body>
</html>
