<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_home.css') }}">
</head>
<body>
    <div id="caj">
        <div class="container">
            <h1>ISR-TAX</h1>
            <ul>
                <li><a href="/enter_bills">Enter Bills</a></li>
                <li><a href="/enter_invoice">Enter Invoices</a></li>
                <li><a href="/page3">Page 3</a> Working on it</li>
            </ul>
        </div>
        <script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
    
        <div  class="badge-base LI-profile-badge" id="lk" data-locale="en_US" data-size="medium" data-theme="light" data-type="VERTICAL" data-vanity="jonhlever" data-version="v1"><a class="badge-base__link LI-simple-link"  href="https://gt.linkedin.com/in/jonhlever?trk=profile-badge"></a></div>
    </div>  
    <div id="feat">
        <h2>We're still working on it</h2>
    </div>        
</body>
</html>

