<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nomina</title>
    <link rel="stylesheet" href="stylepayr.css">
</head>
<body>
    <div class="container">
        <h1>Nomina - Payroll</h1>
        <table id="dynamic-table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Puesto</th>
                    <th>Sueldo Neto</th>
                    <th>Prestaciones</th>
                    <th>Anticipos</th>
                    <th>Sueldo Final</th>
                </tr>
            </thead>
            <tbody>
             
            </tbody>
        </table>
        <button id="add-row">Agregar fila</button>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const table=document.getElementById('dynamic-table');
            const tbody=table.querySelector('tbody');
            const addRowButton = document.getElementById('add-row');
            function addRow() {
                const newRow = document.createElement('tr');
                newRow.innerHTML = `
                    <td><input type="text" name="name[]" placeholder="Nombre"></td>
                    <td><input type="text" name="job[]" placeholder="Puesto"></td>
                    <td><input type="text" name="incomet[]" placeholder="Sueldo Total"></td>
                    <td><input type="text" name="taxes[]" placeholder="Igss y demas"></td>
                    <td><input type="text" name="income[]" placeholder="Ingreso final"></td>
                    <td><button class="remove-row">Remover</button></td>
                `;
                tbody.appendChild(newRow);
            }

            function removeRow(event) {
                const row = event.target.closest('tr');
                if (row) {
                    tbody.removeChild(row);
                }
            }

            addRowButton.addEventListener('click', addRow);
            tbody.addEventListener('click', function(event) {
                if (event.target.classList.contains('remove-row')) {
                    removeRow(event);
                }
            });
        });
    </script>
</body>
</html>
